<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Sandbox</title>
=======
  <title>SandboxApp</title>
>>>>>>> 4313f4632b7fea070ea5b3ede8b1df760b0fe831
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
